.heading-1 {
  color: $title-color;
  font-size: 5.5rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 4.5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 4rem;
  }
}

.heading-2 {
  font-size: 8rem;
  text-align: center;
  line-height: 1.4;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 5rem;
  }
}

.heading-3 {
  font-size: 2.2rem;
  color: $white-color;
  font-weight: 500;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

.heading-4 {
  font-size: 1.8rem;
  color: $white-color;
  font-weight: 500;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.6rem;
  }
}

.para-1 {
  font-size: 1.6rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.4rem;
  }
}

.para-2 {
  font-size: 1.4rem;
  line-height: 1.6;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }
}

.gradient-title {
  background: $text-gradient;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
